<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmOyv4APaj8WzJ7DOi2n6yE8TvrZzQo4o</string>
	<key>GCM_SENDER_ID</key>
	<string>213725812876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betterHomework</string>
	<key>PROJECT_ID</key>
	<string>pennapps-narcan</string>
	<key>STORAGE_BUCKET</key>
	<string>pennapps-narcan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213725812876:ios:050511d24d0bddb05843a9</string>
</dict>
</plist>